tolerations:
  # This toleration is deprecated. Kept here for backward compatibility
  # See https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/
  - key: CriticalAddonsOnly
    operator: Exists
  - key: nvidia.com/gpu
    operator: Exists
    effect: NoSchedule
  - key: "node/type"
    operator: "Equal"
    value: "gpu"
    effect: "NoSchedule"
    
env:
  - name: NVIDIA_DRIVER_CAPABILITIES
    value: "all"
  # This is the critical flag for 570+ Open drivers on some platforms
  - name: NVIDIA_DRIVER_OPEN
    value: "1"

    
runtimeClassName: nvidia
gfd:
  enabled: true
nfd:
  enabled: true
