# PVC
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres
  namespace: authentik
  annotations:
    nfs.io/storage-path: "authentik-postgres"
spec:
  resources:
    requests:
      storage: 5Gi
  storageClassName: nfs-client
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: authentik
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      name: postgres
      labels:
        app: postgres
    spec:
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: postgres
      containers:
        - name: postgres
          image: postgres:9.6.22-buster
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5432
              protocol: TCP
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP
