apiVersion: apps/v1
kind: Deployment
metadata:
  name: comfyui
  labels:
    scale.off-replicas: "0"
    scale.on-replicas: "1"
spec:
  replicas: 0
  selector:
    matchLabels:
      app: comfyui
  template:
    metadata:
      labels:
        app: comfyui
    spec:
      runtimeClassName: nvidia
      volumes:
        - name: nas
          nfs:
            server: 192.168.88.25
            path: /mnt/data/k8s/ai/comfy
      tolerations:
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
      containers:
        - name: comfyui
          image: yanwk/comfyui-boot:cu124-slim
          ports:
            - containerPort: 8188
          volumeMounts:
            - name: nas
              mountPath: /root
          resources:
            limits:
              nvidia.com/gpu: 1
            requests:
              nvidia.com/gpu: 1
